<div class="container page-width">
    <h1 class="typography-heading typography-heading--1">Lorem ipsum dolor sit amet.</h1>
    <h2 class="typography-heading typography-heading--2">Lorem ipsum dolor sit amet.</h2>
    <h3 class="typography-heading typography-font-3 typography-heading--3 uppercase">Lorem ipsum dolor sit amet.</h3>
    <h4 class="typography-heading typography-font-3 typography-heading--4 uppercase">Lorem ipsum dolor sit amet.</h4>
  
  <p class="typography-text typography-text--body">Firms and tones, hydrates, brightens and improves skin texture and elasticity. </p>
  
  <p class="typography-text .typography-text--body-small">Awaken the body with this high-performance, lightweight oil that helps soften and tone 
    the skin while unlocking your natural radiance. Our cold-pressed Jungle Complex™ of rare Amazonian ingredients promotes firmer, 
    healthy-looking skin. Rich in omegas 3, 6, 9, and Vitamin A and E.
  </p>
  
  <p class="typography-text .typography-text--body-small">Jungle Complex™ <br>
The nourishing powers of the natural world combined with advanced modern technologies</p>
  
  <h2>Checkboxes</h2>
  
  <label class="field-checkbox">
  	<input type="checkbox" name="sample">
    <span class="checkmark"></span>
    <span class="checkbox-text">Awaken the body with this high-performance, lightweight oil that helps soften and tone 
    the skin while unlocking your natural radiance. Our cold-pressed Jungle Complex™ of rare Amazonian ingredients promotes firmer, 
    healthy-looking skin. Rich in omegas 3, 6, 9, and Vitamin A and E.</span>
  </label>
  
  
  <h3>Links</h3>
  
  <a class="link" href="javascript:;">Default</a>
  
  <a class="link link--underline" href="javascript:;">Default with underline</a>
  
  <h3>Buttons</h3>
  
  <a class="button button--primary btn-lg" href="javascript:;">Shop</a>
  
  <br><br>
  <a class="button button--primary btn-lg yellow-btn" href="javascript:;">Shop</a>
  <br><br>
  <a class="button button--primary btn-lg black-btn" href="javascript:;">Shop</a>
  <br><br>
  <a class="button button--primary btn-lg sold-out" href="javascript:;">Sold Out</a>
  
  <br><br>
  <a class="button button--primary btn-sm" href="javascript:;">Shop</a>
  <br><br>
  <a class="button button--primary btn-sm yellow-btn" href="javascript:;">Shop</a>
  <br><br>
  <a class="button button--primary btn-sm black-btn" href="javascript:;">Shop</a>
  
  <br><br>
  <a class="button button--primary btn-sm sold-out" href="javascript:;">Sold Out</a>
  
  
</div>

  {% schema %}
  {
    "name": "Style Guide",
    "tag": "section",
    "class": "section",
    "settings": [
      
    ],
    "presets": [
      {
        "name": "Style Guide"
      }
    ]
  }
  {% endschema %}
  