.hide {
	display: none;
}

.video-wrap *:focus-visible {
    outline: 1 !important;
    outline: 0.2rem solid var(--color-focus-green) !important;
    outline-offset: 0.1rem !important;
}


.video-wrap {
    position: relative;
}

.video-overlay-content {
    position: absolute;
    bottom: 40px;
    width: 100%;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
}

.video-overlay-content * {
    color: #fff;
}

.play-pause-btn {
    min-width: 60px;
    text-align: left;
}
.play-btn svg {
    width: 14.97px !important;
    height: auto !important;
}
.audio-btn {
    min-width: 60px;
    text-align: right;
}

.middle-content h3 {
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    font-family: 'CutiveMono-Regular';
    text-transform: uppercase;
    margin: 0 0 20px 0;
  	letter-spacing: 0.02em
}

.middle-content {
    flex: 1 0 0;
    text-align: center;
}

a.video-link-btn {
    font-size: 16px;
    font-weight: 400;
    font-family: CutiveMono-Regular;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    line-height: 0px;
    letter-spacing: 0.02em;
}
a.video-link-btn:hover {
    color: #7E7A78;
}
.audio-control-btn path, .audio-control-btn line {
    stroke: #fff;
}
.video-control-btn svg, .video-control-btn svg * {
	fill: #fff;
}
.video-control-btn, .audio-control-btn {
    height: 22px;
    width: 22px;
}

.video-control-btn svg, .audio-control-btn svg {
    width: 100%;
    height: 100%;
}
.video-wrap {
    margin-bottom: -11px;
}
.mobile-video {
  	display: none;
  }
  
  @media only screen and (max-width: 992px) {
    .video-overlay-content {
        align-items: flex-end;
    }
    .video-wrap video {
        pointer-events: none;
    }
  }

@media only screen and (max-width: 768px) {
  .desktop-video {
  	display: none;
  }
  .mobile-video {
  	display: block;
    aspect-ratio: 3 / 4;
    background-color: #000;
    object-fit: cover;
  }
  .video-overlay-content {
        height: 100%;
        top: 0;
        bottom: 0 !important;
        padding: 40px 15px 60px 15px !important;
    }

    .play-pause-btn {
        position: absolute;
        top: 20px;
        left: 20px;
    }

    .audio-btn {
        position: absolute;
        top: 20px;
        right: 20px;
    }
}

@media only screen and (max-width: 480px) {
  
  .middle-content h3 {
      font-size: 16px;
      line-height: 16px;
      margin-bottom: 18px;
  }

  .video-overlay-content {
      align-items: flex-end;
  }
  .middle-content {
    line-height: 12px;
  }
  a.video-link-btn {
    font-size: 12px;
    line-height: 12px;
  }

}