/* Base */

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: calc(var(--font-body-scale) * 62.5%);
}

@font-face {
  font-family: 'CutiveMono-Regular';
  src: url(CutiveMono-Regular.ttf);
}
@font-face {
  font-family: 'FormulaCondensed-Black';
  src: url(FormulaCondensed-Black.ttf);
}
@font-face {
  font-family: 'FormulaCondensed-Bold';
  src: url(FormulaCondensed-Bold.ttf);
}
@font-face {
  font-family: 'FormulaCondensed-Light';
  src: url(FormulaCondensed-Light.ttf);
}
@font-face {
  font-family: 'FormulaCondensed-Regular';
  src: url(FormulaCondensed-Regular.ttf);
}
@font-face {
  font-family: 'Chalet-NewYorkNineteenSeventy';
  src: url(Chalet-NewYorkNineteenSeventy.ttf);
}



body {
  background-color: rgb(var(--color-background));
  color: rgb(var(--color-foreground));
  font-size: 16px;
  letter-spacing: 0.07rem;
  line-height: 20px;
  margin: 0;
/*   min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
  font-weight: var(--font-body-weight); */
}

@media screen and (min-width: 750px) {
  body {
    font-size: 16px;
    line-height: 20px;
  }
}

.password-modal__content-heading {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: calc(1 + 0.6 / var(--font-body-scale));
}

@media only screen and (min-width: 750px) {
  .password-modal__content-heading {
    font-size: 1.8rem;
  }
}

/* Password Section */
 .full-height {
     height: 100%;
}
 .password {
     background-color: rgb(var(--color-background));
     height: 100%;
}
 .password-link {
     align-items: center;
     font-size: 1.4rem;
     font-weight: 400;
     white-space: nowrap;
}
 .password-link svg {
     width: 1.8rem;
     height: 1.8rem;
     margin-right: 1rem;
}
 .password-modal__content {
     padding: 4.5rem 3.2rem;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     text-align: center;
     width: 100%;
     height: 100%;
     box-sizing: border-box;
}
 .password-modal__content-heading {
     font-size: 1.8rem;
     font-weight: 400;
     line-height: calc(1 + 0.6 / var(--font-body-scale));
}
 @media only screen and (min-width: 750px) {
     .password-modal__content-heading {
         font-size: 1.8rem;
    }
}
 .password-modal .password-form {
     max-width: 50rem;
}
 .password-form {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     margin-top: 4rem;
     margin-bottom: 2rem;
     width: 100%;
}
 .password-field.field {
     flex: 1 20rem;
}
 .password-field .form__message {
     margin-top: 1.5rem;
}
 .password-button {
     margin-top: 3rem;
     width: 100%;
}
 @media only screen and (max-width: 749px) {
     .password-field--error + .password-button {
         margin-top: 1.5rem;
    }
}
 @media only screen and (min-width: 750px) {
     .password-button {
         margin-top: 0;
         margin-left: 2rem;
         width: auto;
         align-self: start;
    }
}
 .password-logo {
     width: 100%;
     margin-bottom: 1.5rem;
}
 @media only screen and (min-width: 750px) {
     .password-logo {
         margin-bottom: 0;
    }
}
 .password-heading {
     margin-top: 5rem;
     font-weight: 400;
}
 .password-main {
     flex-grow: 1;
}
 .password-main > section:only-child {
     height: 100%;
}
 .password-main > section:only-child > .newsletter {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100%;
     margin-top: 0;
}
 .password-main > section:only-child .newsletter__wrapper:not(.email-signup-banner__box) {
     width: 100%;
}
 .password-main > section:only-child > :not(.newsletter--narrow) > .newsletter__wrapper {
     height: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
}
 .password__footer-text a {
     padding: 0;
     font-size: 1.3rem;
     font-weight: 400;
     line-height: calc(1 + 0.5 / var(--font-body-scale));
}
 .password__footer-login {
     margin-top: 1.2rem;
     padding-bottom: 4rem;
}
 .password-modal .icon-close {
     color: rgb(var(--color-foreground));
}
 .password__footer {
     display: flex;
     flex-direction: column;
     align-items: center;
     padding-top: 4rem;
     background-color: rgb(var(--color-background));
     color: rgb(var(--color-foreground));
}
 hr {
     margin: 0 !important;
}
 .list-social:not(:empty) + .password__footer-caption {
     margin-top: 3rem;
}
 .password__footer-caption a {
     padding: 0;
     color: rgb(var(--color-link));
}
 .modal__toggle, .modal__close-button {
     list-style-type: none;
}
 details[open] .modal__toggle, .modal__close-button {
     position: absolute;
     top: 2.2rem;
     right: 2.2rem;
     padding: 0.8rem;
     color: rgb(var(--color-foreground));
     background-color: transparent;
}
 .no-js .modal__close-button {
     display: none;
}
 .no-js .modal__toggle {
     z-index: 2;
}
 .modal__toggle::-webkit-details-marker {
     display: none;
}
 details.modal .modal__toggle-close {
     display: none;
}
 details[open].modal .modal__toggle-close {
     background: rgb(var(--color-background));
     cursor: pointer;
     display: flex;
     padding: 0.8rem;
     z-index: 1;
}
 details[open].modal .modal__toggle-close svg, .modal__close-button svg {
     height: 1.7rem;
     width: 1.7rem;
}
 details[open].modal .modal__toggle-close:hover {
     opacity: 0.75;
}
 .js details[open].modal .modal__toggle-close {
     display: none;
}
 details.modal .modal__toggle-open {
     display: flex;
}
 .no-js details[open].modal .modal__toggle-open {
     display: none;
}
 .password-header {
     padding: 2rem 1.5rem 2.5rem;
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-direction: column;
     color: rgb(var(--color-foreground));
     max-width: var(--page-width);
     margin: 0 auto;
     text-align: center;
}
 @media only screen and (min-width: 750px) {
     .password-header {
         display: grid;
         gap: 3rem;
         grid-template-columns: 1fr 1.5fr 1fr;
         padding: 2rem 5rem 2.5rem;
         text-align: left;
    }
}
 .password-header details-modal {
     flex-shrink: 0;
}
 .password-content {
     text-align: center;
}
 @media only screen and (max-width: 749px) {
     .password-content {
         margin-bottom: 1.8rem;
         margin-top: 1rem;
    }
}
 .shopify-name {
     overflow: hidden;
     position: absolute;
     height: 1px;
     width: 1px;
}
 .icon-shopify {
     width: 7rem;
     height: 2rem;
     vertical-align: top;
     color: rgb(var(--color-foreground));
}
 password-modal {
     justify-self: flex-end;
     grid-column: 3;
}

 .email-signup-banner__box.color-transparent {
     background-color: transparent;
     padding: 0px;
}
 #shopify-section-template--16121149456624__165541024027b62a56 {
     height: 100vh;
     overflow: hidden;
}
 .password-page-main.email-signup-banner {
     min-height: 100%; 
     height: 100vh !important;
    /*    height: -webkit-fill-available; */
    background-size: cover;
     
}
 .pw-logo-image img {
     max-width: 391px;
}
 .password-page-main .email-signup-banner__box .email-signup-banner__heading {
     font-weight: 300;
     font-size: 47.5px;
     line-height: 57px;
     letter-spacing: 0.16em;
     text-transform: uppercase;
     color: #fff;
     margin: 10px 0px;
     font-family: 'FormulaCondensed-Light';
     text-align: center;
}
 .password-page-main .password-nl-popup-trigger .nl-popup-trigger {
     font-size: 23px;
     line-height: 0px;
     letter-spacing: 0.02em;
     text-transform: uppercase;
     color: #fff;
     text-decoration: underline;
     font-family: 'CutiveMono-Regular';
     text-underline-offset: 5px;
     cursor: pointer;
}
 .password-page-main .nl-popup-heading h3 {
     font-size: 24px;
     line-height: 39px;
     letter-spacing: 0.02em;
     text-transform: uppercase;
     color: #090909;
     margin-bottom: 10px;
     text-align: left;
     margin-top: 0px;
     font-family: 'CutiveMono-Regular';
}
 .password-page-main .newsletter-form__field-wrapper {
     max-width: 100% !important;
}
 .password-page-main .newsletter-form__field-wrapper p {
     font-size: 14px;
     line-height: 24px;
     letter-spacing: .02em;
     color: #090909;
     text-decoration: none;
     text-align: left;
     max-width: 80%;
     font-family: 'CutiveMono-Regular';
     cursor: pointer;
}
.privacy-agreement-text {
    font-size: 14px;
    line-height: 16px;
}
 .password-page-main .newsletter-form__field-wrapper p a{
     color: #090909;
     text-decoration: underline;
     text-underline-offset: 3px;
}
 .password-page-main .newsletter-form__field-wrapper p a:hover {
     color: #7e7a7b;
}
.agreement-popup-inner>h2 {
	color: #000;
}
.agreement-popup-inner p {
	color: #000;
}
.privacy-agreement-text a {
	text-underline-offset: 2px;
}
 .privacy-agreement-text a:hover {
     color: #7e7a7b;
}
 .password-page-main .newsletter-form {
     max-width: 100%;
}
 .password-page-main .checkbox-label .checkmark {
     height: 36px;
     width: 36px;
     position: relative;
     display: block;
     border: 1px solid #000000;
     border-radius: 6px;
     padding: 5px;
     cursor: pointer;
     flex: 0 0 auto;
}
 .password-page-main .checkbox-label .checkmark:before {
     content: '';
     width: 100%;
     height: 100%;
     background-color: #000;
     display: none;
     border-radius: 3px;
}
 .password-page-main .checkbox-label input:checked+.checkmark:before {
     display: block;
}
 .password-page-main .checkbox-label {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
}
 .checkbox-label div {
     flex: 1 0 0;
     margin-left: 20px;
}
 .password-page-main .checkbox-label input[type=checkbox] {
     position: absolute;
     opacity: 0;
     z-index: 1;
     cursor: pointer;
}
 .password-page-main .banner__content {
     padding: 0px;
}
 span.nl-form-close {
     position: absolute;
     top: 30px;
     right: 30px;
     cursor: pointer;
}
 span.nl-form-close img {
     width: 24px;
     height: 24px;
}
 .password-page-main .banner__content {
     position: relative;
     z-index: 15;
     transition: 0.5s;
}
 .password-page-main .password-nl-popup-form {
     position: fixed;
     bottom: -400px;
     width: 100%;
     transition: 0.5s;
     padding: 40px;
     margin-top: 30px;
     background: #FFFFFF;
     border-radius: 12px 12px 0px 0px;
     left: 0;
     z-index: 30;
     min-height: 240px;
}
 .password-page-main .password-nl-popup-form.open {
     bottom: 0;
}
 .password-page-main .newsletter-form__field-wrapper .field:after {
     display: none;
}
 .password-page-main .newsletter-form__field-wrapper .field.checkbox-field {
     margin-bottom: 20px;
}
 .password-page-main .newsletter-form__field-wrapper .as-field__input {
     background-color: transparent;
     flex: 1 0 0;
     margin-right: 32px;
     font-family: 'CutiveMono-Regular';
     outline: none;
     box-shadow: none;
     padding: 28px 20px 10px 0;
     border: 0;
     border-bottom: 1px solid #000;
     border-radius: 0;
     font-size: 16px;
}
 .password-page-main .newsletter-form__field-wrapper .as-field__input:focus::-webkit-input-placeholder {
     opacity: 0;
}
 .password-page-main .newsletter-form__field-wrapper .as-field__input:focus:-ms-input-placeholder {
     opacity: 0;
}
 .password-page-main .newsletter-form__field-wrapper .as-field__input:focus::placeholder {
     opacity: 0;
}
 .password-page-main .newsletter-form__field-wrapper .as-field__input::-webkit-input-placeholder {
    /* Edge */
     font-size: 16px;
     color: #000;
}
 .password-page-main .newsletter-form__field-wrapper .as-field__input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
     font-size: 16px;
     color: #000;
}
 .password-page-main .newsletter-form__field-wrapper .as-field__input::placeholder {
     font-size: 16px;
     color: #000;
}
 .password-page-main .newsletter-form__button {
     flex: 0 0 auto;
     position: initial;
     width: auto;
     padding: 15px 20px;
     border: 1px solid #000000;
     border-radius: 3px;
     font-size: 16px;
     line-height: 24px;
     letter-spacing: 0.02em;
     text-transform: uppercase;
     color: #000;
     min-width: 308px;
     width: 100%;
     font-family: 'CutiveMono-Regular';
}
 .password-page-main .newsletter-form__button:hover {
     background-color: #000 !important;
     color: #fff;
}
 .password-page-main .newsletter-form__button:focus {
     background-color: #fff;
     color: #000;
     border-color: #9dba4a;
}
 .password-page-main .newsletter-form__field-wrapper .field {
     align-items: center;
}
 .password-page-main .password-nl-popup-form .password-nl-popup-inner {
     max-width: 1366px;
     margin: 0 auto;
}
 .password-page-main .newsletter-form__button:hover {
     background-color: #000;
     color: #fff;
}
 .banner__content.banner__content--middle-center {
     max-width: 100% !important;
}
 img.mobile-image {
     display: none !important;
}
 .password-page-main .newsletter-form__field-wrapper p {
     margin: 0;
}
 .password-page-main .newsletter-form__field-wrapper .field.checkbox-field {
     margin-bottom: 0;
}
 .pw-social-icon {
     position: fixed;
     z-index: 16;
     bottom: 40px;
     right: 40px;
     cursor: pointer;
     height: 40px;
}
 .pw-social-icon a {
     display: block;
     width: 26px;
}
 .pw-social-icon a img {
     width: 100%;
}
 .password-nl-popup-form .newsletter-form__message {
     font-size: 25px;
     text-align: left;
     max-width: 1200px;
     margin: 0 auto;
     line-height: 32px;
     font-weight: 400;
     font-family: CutiveMono-Regular;
     text-transform: uppercase;
}
 .password-page-main .newsletter-form__field-wrapper {
     display: flex !important;
     flex-wrap: wrap;
     align-items: center;
}
 .password-page-main .newsletter-form__field-wrapper .field.checkbox-field {
     flex: 0 0 100%;
}
 .password-page-main .newsletter-form__field-wrapper .field {
     flex: 1 0 0;
}
 .password-page-main .newsletter-form__field-wrapper .form-submit-btn {
     flex: 0 0 auto;
}
 .password-page-main .newsletter-form__field-wrapper .field {
     position: relative;
}
 .password-page-main .newsletter-form__field-wrapper .field .error-message {
     position: absolute;
     right: 35px;
     top: 28px;
/*      transform: translateY(-50%); */
     color: #B5170D;
     font-family: 'CutiveMono-Regular';
     font-size: 16px;
     text-transform: uppercase;
}
 label.checkbox-label.not-checked p, label.checkbox-label.not-checked p a, label.checkbox-label.not-checked a, label.checkbox-label.not-checked .privacy-agreement-text {
     color: #B5170D;
}


 label.checkbox-label.not-checked .checkmark {
     border-color: #B5170D;
}

label.checkbox-label.not-checked input:checked + span + div p, label.checkbox-label.not-checked input:checked + span + div a {
    color: #090909;
}
label.checkbox-label.not-checked input:checked + span.checkmark {
	border-color: #000;
}
 .password-page-main .password-nl-popup-trigger .nl-popup-trigger:hover {
     color: #f2a900;
}




.fancybox-inner {
    max-height: 100vh;
}

.fancybox-slide--html {
    padding: 20px 40px;
    border-radius: 20px;
}

.fancybox-is-open .fancybox-bg {
    display: block !important;
    opacity: 0.6;
}
.fancybox-content {
    border-radius: 10px;
    padding: 80px 160px;
}
.fancybox-content * {
    font-family: CutiveMono-Regular;
}
.fancybox-button svg {
    height: 34px;
    width: 34px;
}

.fancybox-close-small {
    right: 40px !important;
    top: 40px !important;
    padding: 0 !important;
    width: 34px;
}
.password-page-main .newsletter-form__field-wrapper p {
    display: inline;
}

.privacy-agreement-text {
    max-width: 80%;
}

.privacy-agreement-text a {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: .02em;
    color: #090909;
    text-decoration: none;
    text-align: left;
    font-family: CutiveMono-Regular;
    cursor: pointer;
    text-decoration: underline;
}

.agreement-popup-inner p {
    font-size: 12px;
    line-height: 14px;
}

.agreement-popup-inner > h2 {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.agreement-popup-inner p {
	margin-bottom: 25px;
}
.password-nl-popup-inner *:focus-visible {
    outline: 0 !important;
    outline-offset: 0 !important;
    box-shadow: none !important;
}
.password-nl-popup-inner  .field__input:focus-visible{
  box-shadow: none !important;
  outline: 0 !important;
  border-radius: 0 !important;
}
@media only screen and (max-width: 992px){
    .password-page-main .newsletter-form__field-wrapper .field {
        flex: 0 0 100%;
    }
    .password-page-main .newsletter-form__field-wrapper .form-submit-btn {
        flex: 0 0 100%;
    }
}
 @media only screen and (max-width: 768px){
    .fancybox-content {
        padding: 40px 20px;
    }
    
    .fancybox-slide--html {
        padding: 10px;
        border-radius: 10px;
    }
     .pw-logo-image img {
         max-width: 283px;
    }
     img.desktop-image {
         display: none !important;
    }
     img.mobile-image {
         display: block !important;
    }
     .password-page-main.email-signup-banner .banner__media {
         height: 100% !important;
    }
     .password-page-main.email-signup-banner .banner__content {
         width: 100%;
         height: 100vh;
         min-height: -webkit-fill-available;
    }
     .password-page-main .password-nl-popup-form {
         bottom: -200%;
    }
     .password-page-main .nl-popup-heading h3 {
         font-size: 16px;
         line-height: 20px;
         margin-bottom: 8px !important;
    }
     .password-page-main .password-nl-popup-form {
         padding: 40px 35px;
    }
     span.nl-form-close img {
         width: 16px;
         height: 16px;
    }
     span.nl-form-close {
         top: 15px;
         right: 15px;
    }
     .password-page-main .newsletter-form__field-wrapper p {
         font-size: 11px;
         line-height: 14px;
         max-width: 100%;
    }
     .password-page-main .checkbox-label .checkmark {
        height: 22px;
        width: 22px;
        padding: 2px;
        border-radius: 3.5px;
    }
     .password-page-main .checkbox-label .checkmark:before {
        border-radius: 1.83333px;
    }
     .password-page-main .newsletter-form__field-wrapper .field {
         display: block;
    }
     .password-page-main .newsletter-form__field-wrapper .field .error-message {
         position: absolute;
         text-align: left;
         transform: none;
         margin-top: 10px;
         font-size: 11px;
         left: 0;
        bottom: -4px;
    }
     .password-nl-popup-form .newsletter-form__message {
         font-size: 16px;
         line-height: 20px;
    }
     .password-page-main .newsletter-form__field-wrapper .field {
         margin: 0px 0 20px 0 !important;
    }
     .password-page-main .newsletter-form__field-wrapper .field input {
         width: 100%;
         padding: 10px 20px 8px 0;
         font-size: 14px;
         touch-action: manipulation;
         margin-top: 0;
    }
     .password-page-main .newsletter-form__field-wrapper .field.checkbox-field {
         order: 2;
    }
     .password-page-main .newsletter-form__field-wrapper .field {
         order: 1;
    }
     .password-page-main .newsletter-form__field-wrapper .form-submit-btn {
         order: 3;
         flex: 0 0 100%;
    }
     .password-page-main .newsletter-form__field-wrapper .form-submit-btn button {
         max-width: 320px;
         margin: 0 auto;
    }
     .password-page-main .newsletter-form__field-wrapper .field.checkbox-field {
         margin-bottom: 30px;
    }
     .password-page-main .newsletter-form__field-wrapper .field button#Subscribe {
         width: 100%;
    }
     body.password {
         overflow: hidden;
    }
     .password-page-main .password-nl-popup-trigger .nl-popup-trigger {
         border: 1px solid #fff;
         text-decoration: none;
         width: calc(100% - 40px);
         display: inline-block;
         line-height: normal;
         padding: 19px 20px;
         border-radius: 3px;
         font-size: 14px;
         max-width: 320px;
    }
     .email-signup-banner__box.color-transparent {
         height: 100%;
    } 
     .password-page-main .email-signup-banner__box {
         width: 100%;
         height: 100%!important;
         align-items: center;
         display: flex;
         flex-wrap: wrap;
         width: 100%;
         align-content: center;
    }
     .password-page-main .email-signup-banner__box .pw-logo-image {
         flex: 0 0 100%;
    }
     .password-page-main .email-signup-banner__box .email-signup-banner__heading {
         flex: 0 0 100%;
    }
     .password-nl-popup-trigger {
         width: 100%;
         margin-top: auto!important;
         margin-bottom: 0;
         position: fixed;
         bottom: 40px;
         left: 0;
    }
     .password-page-main .email-signup-banner__box .email-signup-banner__heading {
         font-size: 36px;
    }
     .pw-social-icon {
         top: 30px;
         right: auto;
         left: 30px;
    }
     .pw-social-icon a {
         width: 22px;
    }
     .password-page-main .checkbox-label {
         align-items: flex-start;
    }
     .password-page-main .password-nl-popup-form .password-nl-popup-inner {
         max-width: 100%;
    }
     .password-page-main.email-signup-banner {
         width: 100%;
         overflow-x: hidden;
    }
     .password-page-main .password-nl-popup-trigger .nl-popup-trigger:hover {
         color: #fff;
         background-color: #000;
         border-color: #000;
    }
     .password-page-main .newsletter-form__field-wrapper .form-submit-btn button {
         font-size: 14px;
    }
   .privacy-agreement-text a, .privacy-agreement-text {
   	font-size: 11px;
     line-height: 14px;
   }
   .privacy-agreement-text a {
   	text-underline-offset: 2px;
   }
   .agreement-popup-inner p {
      font-size: 12px;
      line-height: 14px;
  }
   .fancybox-close-small {
    right: 20px !important;
    top: 20px !important;
    width: 24px  !important;
  }

  .fancybox-close-small svg {
      height: 24px;
      width: 24px;
}
}
@media (orientation: landscape) and (max-width: 992px) {
    .pw-logo-image img {
        max-width: 160px;
    }
    
    .password-page-main .email-signup-banner__box .email-signup-banner__heading {
        font-size: 32px;
        line-height: 40px;
    }
    
    .password-page-main.email-signup-banner {
        min-height: 100vh !important;
        height: auto !important;
    }
    .password-nl-popup-trigger {
        position: relative;
        bottom: auto;
    }
    body.password {
      overflow: auto;
    }
  }
@media only screen and (max-width: 340px) {
    .password-page-main .newsletter-form__button {
        min-width: auto;
    }
}